<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Family Tree</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .alertDiv {
        color: black;
        position: absolute;
        top: 10px;
        right: 15px;
        width:300px;
        padding: 5px;
        border-width: 3px;
        border-style: solid;
        border-radius: 20px;
        display: none;
        font-size: 1.25rem;
        text-align: center;
        display: none;
      }
    </style>
  </head>
 
<body class="bg-dark">
  <%- include('navbar') %>
    <div class="container w-50">
      <h1 class="text-light text-center pt-2">Relations for <%= data.person1 %>
      </h1>
      <table class="table table-dark">
        <tr>
          <td>Father</td>
          <% if(data.relations.father.id===0) { %>
            <td colspan="2">
              <a href="/addfather/<%= data.person1id %>/blank"><button class="btn btn-sm btn-secondary">Add
                  Father</button></a>
            </td>
            <% } else { %>
              <td>
                <%= data.relations.father.name %>
              </td>
              <td>
                <a href="/removefather/<%= data.person1id %>/<%= data.gender %>/<%= data.relations.father.id%>/Father Removed">
                  <button class="btn btn-sm btn-secondary">Remove</button>
                </a>
              </td>
              <% } %>
        </tr>
        <tr>
          <td>Mother</td>
          <% if(data.relations.mother.id===0) { %>
            <td>
              <a href="/addmother/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                  Mother</button></a>
            </td>
            <% } else { %>
              <td>
                <%= data.relations.mother.name %>
              </td>
              <td>
                <a href="/removemother/<%= data.person1id %>/<%= data.gender %>/<%= data.relations.mother.id%>"><button
                    class="btn btn-sm btn-secondary">Remove</button></a>
              </td>
              <% } %>
        </tr>
        <tr>
          <% if(data.gender==='male' ){ %>
            <td>Wife</td>
            <% if(data.relations.wife.id===0) { %>
              <td><a href="/addwife/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                    Wife</button></a>
              </td>
              <% } else { %>
                <td>
                  <%= data.relations.wife.name %>
                </td>
                <td>
                  <a href="/removewife/<%= data.person1id %>/<%= data.gender %>/<%= data.relations.wife.id%>"><button
                      class="btn btn-sm btn-secondary">Remove</button></a>
                </td>
                <% } %>
                  <% } else { %>
                    <td>Husband</td>
                    <% if(data.relations.husband.id===0) { %>
                      <td><a href="/addhusband/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                            Husband</button></a>
                      </td>
                      <% } else { %>
                        <td>
                          <%= data.relations.husband.name %>
                        </td>
                        <td>
                          <a href="/removehusband/<%= data.person1id %>/<%= data.gender %>/<%= data.relations.husband.id%>"><button
                              class="btn btn-sm btn-secondary">Remove</button></a>
                        </td>
                        <% } %>
                          <% } %>
        </tr>
        <tr>
          <% if(data.relations.sons.length> 1) { %>
            <td>Sons</td>
            <% } else { %>
              <td>Son</td>
              <% } %>
                <td>
                  <table class="table table-dark">
                    <% data.relations.sons.map((son)=>{ %>
                      <tr>
                        <td>
                          <%= son.name %>
                        </td>
                        <td>
                          <a href="/removeson/<%= data.person1id %>/<%= data.gender %>/<%= son.id%>"><button
                              class="btn btn-sm btn-secondary">Remove</button></a>
                        </td>
                      </tr>
                      <% }) %>
                        <tr>
                          <td>
                            <a href="/addson/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                                Son</button></a>
                          </td>
                        </tr>
                  </table>
                </td>
        </tr>
        <tr>
          <% if(data.relations.daughters.length> 1) { %>
            <td>Daughters</td>
            <% } else { %>
              <td>Daughter</td>
              <% } %>
                <td>
                  <table class="table table-dark">
                    <% data.relations.daughters.map((daughter)=>{ %>
                      <tr>
                        <td>
                          <%= daughter.name %>
                        </td>
                        <td>
                          <a href="/removedaughter/<%= data.person1id %>/<%= data.gender %>/<%= daughter.id%>"><button
                              class="btn btn-sm btn-secondary">Remove</button></a>
                        </td>
                      </tr>
                      <% }) %>
                        <tr>
                          <td>
                            <a href="/adddaughter/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                                Daughter</button></a>
                          </td>
                        </tr>
                  </table>
                </td>
        </tr>
        <tr>
          <% if(data.relations.brothers.length> 1) { %>
            <td>Brothers</td>
            <% } else { %>
              <td>Brother</td>
              <% } %>
                <td>
                  <table class="table table-dark">
                    <% data.relations.brothers.map((brother)=>{ %>
                      <tr>
                        <td>
                          <%= brother.name %>
                        </td>
                        <td>
                          <a href="/removebrother/<%= data.person1id %>/<%= data.gender %>/<%= brother.id%>">
                            <button class="btn btn-sm btn-secondary">Remove</button>
                          </a>
                        </td>
                      </tr>
                      <% }) %>
                        <tr>
                          <td>
                            <a href="/addbrother/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                                Brother</button></a>
                          </td>
                        </tr>
                  </table>
                </td>
        </tr>
        <tr>
          <% if(data.relations.sisters.length> 1) { %>
            <td>Sisters</td>
            <% } else { %>
              <td>Sister</td>
              <% } %>
                <td>
                  <table class="table table-dark">
                    <% data.relations.sisters.map((sister)=>{ %>
                      <tr>
                        <td>
                          <%= sister.name %>
                          <td>
                            <a href="/removesister/<%= data.person1id %>/<%= data.gender %>/<%= sister.id%>">
                              <button class="btn btn-sm btn-secondary">Remove</button>
                            </a>
                          </td>
                        </td>
                      </tr>
                      <% }) %>
                        <tr>
                          <td>
                            <a href="/addsister/<%= data.person1id %>"><button class="btn btn-sm btn-secondary">Add
                                Sister</button></a>
                          </td>
                        </tr>
                  </table>
                </td>
        </tr>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
    <script>
      const msg = "<%- msg %>"
      
      function showAlert(message, border, duration) {
        const msgBox = document.getElementById('alertDiv');
        msgBox.innerText = message;
        msgBox.style.borderBlockColor = border
        if(border == 'red'){
          msgBox.style.backgroundColor = 'pink';
        } else if (border == 'green'){
          msgBox.style.backgroundColor = '#98ff95'; //'palegreen';
        } else if (border = 'blue'){
          msgBox.style.backgroundColor = 'lightcyan';
        }
        msgBox.style.display = 'block';
        setTimeout(function () {
          msgBox.style.display = 'none';
        }, 1000*duration);
      };

      if(msg != 'blank'){
        showAlert(msg, 'green', 2);
      }

    </script>
</body>

</html>